body {
    background-image: radial-gradient(rgb(48, 48, 48), gray, rgb(48, 48, 48));
}

button {
    font-size: 100px;
    background-color: grey;
    cursor:pointer;
}

button2 {
    font-size: 25px;
    background-color: grey;
    border: 2px solid black;
    cursor:pointer;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 25px;
}

m {
    font-size: 15px;
    color: gray;
}

